h1 {
  text-align: center;
}

#playfield {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 75%;
  width: 100%;
  border: 1px solid pink;
}

#selectionbar {
  border: 1px solid navy;
  gap: 15px;
}

#selectionbar button {
  font-size: 30px;
  width: 50px;
  height: 50px; 
  margin: 10px;
  text-align: center;  
}